
html,body{
       width: 100%;
	   height: 100%;
}

 body {
     background: #0d161f;
}


#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 

.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    body{
        background: #eee;
    }
    span{
        font-size:15px;
    }
    a{
      text-decoration:none; 
      color: #0062cc;
      border-bottom:2px solid #0062cc;
    }
    .box{
        padding:60px 0px;
    }
    
    .box-part{
        background:#FFF;
        border-radius:0;
        padding:60px 10px;
        margin:30px 0px;
    }
    .text{
        margin:20px 0px;
    }
    
    .fa{
         color:#4183D7;
    }